@font-face {
    font-family: RalewayRegular;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: RalewayLight;
    src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: RalewayThin;
    src: url(../fonts/Raleway-Thin.ttf);
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    font-size: 14px;
}

::-webkit-input-placeholder {
   color: #888888;
   font-family: RalewayRegular, Helvetica, Arial, sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #888888;
   font-family: RalewayRegular, Helvetica, Arial, sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #888888;
   font-family: RalewayRegular, Helvetica, Arial, sans-serif;
}

:-ms-input-placeholder {
   color: #888888;
   font-family: RalewayRegular, Helvetica, Arial, sans-serif;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
    background: url(../img/bg-welcome.jpg) center 100%/cover no-repeat;
}

.wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 0;
}

.table {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    position: relative;
    z-index: 1;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.logo {
    margin-bottom: 5%;
}

.logo__img {
    width: 180px;
}

.header {
    margin: 0 0 5% 0;
    color: #fff;
    font-size: 1.2em;
    font-family: RalewayThin, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.text {
    margin-bottom: 5%;
    color: #fff;
    font-size: .9em;
    line-height: 1.5;
    font-family: RalewayLight, Helvetica, Arial, sans-serif;
}

.input {
    width: 70%;
    max-width: 406px;
    height: 38px;
    margin: 10px auto 5px auto;
    display: block;
    padding: 0 5px;
    box-sizing: border-box;
    border: 2px solid #c0c0c0;
    border-radius: 1px;
    background: #fff;
    font-family: RalewayLight, Helvetica, Arial, sans-serif;
    color: #656565;
    font-size: 1em;
    outline: none;
}

.input:focus {
    border: 2px solid #71bf44;
}

.button {
    width: 70%;
    max-width: 406px;
    height: 38px;
    display: block;
    margin: 20px auto;
    vertical-align: top;
    padding: 0 5px;
    box-sizing: border-box;
    border: 2px solid #71bf44;
    border-radius: 1px;
    background: #71bf44;
    color: #fff;
    font-size: 1em;
    font-family: RalewayRegular, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.button:hover {
    border: 2px solid #71bf44;
    background: transparent;
    color: #71bf44;
}

.thanks {
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    margin: 0 auto;
    color: #fff;
    font-size: 1em;
    font-family: RalewayThin, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.thanks--active {
    display: block;
}

span.error {
    color: #fff;
    line-height: 1.3;
    font-family: RalewayLight, Helvetica, Arial, sans-serif;
}

.form--invisible {
    visibility: hidden;
}

@media  (min-width: 360px) {

    .logo__img {
        width: 240px;
    }

    .header {
        font-size: 1.5em;
    }

    .text {
        font-size: 1em;
    }
}

@media only screen and (orientation: landscape) and (max-width: 768px){

    .wrap {
        height: auto;
        padding: 10px;
    }
}

@media (min-width: 768px) {

    .logo__img {
        width: 400px;
    }

    .header {
        margin-bottom: 10px;
        font-size: 2.5em;
        letter-spacing: 2px;
    }

    .text {
        font-size: 1.2em;
    }

    .input {
        width: 100%;
    }

    .button {
        width: 50%;
    }

    .label {
        width: 50%;
        display: block;
        margin: 10px auto;
    }

}

@media  (min-width: 1200px) {

    .row {
        width: 1100px;
    }

    .logo__img {
        width: 400px;
    }

    .logo {
        margin-bottom: 8%;
    }

    .header {
        font-size: 3.74em;
    }

    .button {
        width: 20%;
        display: inline-block;
    }

    .text {
        width: 90%;
        margin: 0 auto 60px auto;
    }

    .label {
        width: 20%;
        display: inline-block;
        margin: 0 10px 0 0;
        text-align: left;
        vertical-align: top;
        position: relative;
    }

    .input {
        margin: 0;
    }

    .button {
        display: inline-block;
        margin: 0;
    }

    .thanks {
        font-size: 1.5em;
    }

    span.error {
        position: absolute;
        top: 45px;
        left: 0;
    }
}